In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel('rawdata\\supermarket.xlsx')
df.columns = df.columns.str.replace(' ', '_')
column_names = df.columns
print(column_names)
#print(Sales)

Index(['Category', 'City', 'Country', 'Customer_Name', 'Manufacturer',
       'Order_Date', 'Order_ID', 'Postal_Code', 'Product_Name', 'Region',
       'Segment', 'Ship_Date', 'Ship_Mode', 'State', 'Sub-Category',
       'Discount', 'Number_of_Records', 'Profit', 'Profit_Ratio', 'Quantity',
       'Sales'],
      dtype='object')

In [3]:
import pandas as pd
df  = pd.read_excel('rawdata\\supermarket.xlsx')

df = df.rename(columns={'Order Date': 'order_date'})
df_PR = df.rename(columns={'Profit Ratio': 'Profit_Ratio'})
df['Year'] = pd.to_datetime(df['order_date']).dt.year
yearly_sales = df.groupby('Year')['Quantity'].count()
year_max_sales = yearly_sales.idxmax()
print(f"The year with the most items sold was: {year_max_sales}")

The year with the most items sold was: 2016

In [4]:

number_of_states = df['State'].nunique()
print(number_of_states)

49

In [5]:

smallest_profit_ratio = df_PR['Profit_Ratio'].min() * 100
print(smallest_profit_ratio)

-275.0

In [6]:
def state_with_most_rows(df, State):
    state_counts = df[State].value_counts()
    return state_counts.index[0]

state_counts = df['State'].value_counts()
most_rows_state = state_with_most_rows(df, 'State')
print(f"The state with the most rows is: {most_rows_state}")
print(state_counts)

The state with the most rows is: California
State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [ ]:
#df = df.rename(columns={'Product Name': 'Product_Name'})
#df['Sales'] = df['Sales'].replace({'\$': '', ',': ''}, regex=True)
#df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')

result = df.groupby('Product_Name').agg({'Sales': 'sum', 'Quantity': 'count'})
result = result.rename(columns={'Quantity': 'Count'})
top_5_products = df.groupby('Product_Name')['Sales'].sum().nlargest(5)

print(top_5_products)
print(result)
plt.figure(figsize=(10, 6))
plt.bar(top_5_products['Product_Name'], top_5_products['Sales'], color='skyblue')
plt.xlabel('Product')
plt.ylabel('Profit')
plt.title('Top 5 Products by Profit')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

Product_Name
Cisco TelePresence System EX90 Videoconferencing Unit                          22638
Canon imageCLASS 2200 Advanced Copier                                          19600
HON 5400 Series Task Chairs for Big and Tall                                   18365
Lexmark MX611dhe Monochrome Laser Printer                                      16830
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    13473
Name: Sales, dtype: int64
                                                    Sales  Count
Product_Name
"While you Were Out" Message Book, One Form per...     18      2
#10 Gummed Flap White Envelopes, 100/Box               17      2
#10 Self-Seal White Envelopes                           9      1
#10 White Business Envelopes,4 1/8 x 9 1/2             51      2
#10- 4 1/8" x 9 1/2" Recycled Envelopes               147      4
...                                                   ...    ...
iKross Bluetooth Portable Keyboard + Cell Phone...    101      2
iOttie HLCRIO102 Car Mount                             56      3
iOttie XL Car Mount                                   224      2
invisibleSHIELD by ZAGG Smudge-Free Screen Prot...    262      5
netTALK DUO VoIP Telephone Service                   1008      6

[1657 rows x 2 columns]

KeyError: 'Product_Name'

In [ ]:
['Category', 'City', 'Country', 'Customer Name', 'Manufacturer',
       'order_date', 'Order ID', 'Postal Code', 'Product Name', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State', 'Sub-Category',
       'Discount', 'Number of Records', 'Profit', 'Profit Ratio', 'Quantity',
       'Sales'],

In [ ]:
#df['discount'] = df['original_price'] - df['discounted_price']
df['Discount'] = (df['discount']/ df['original_price']) * 100
average_discount = df['discount_percentage'].mean()
print(f"The average discount is: {average_discount:.2f}%")

The average discount is: 0.16%

In [34]:
print(df['Postal_Code'].dtype)

int64

In [37]:
df['Discount'] = pd.to_numeric(df['Discount'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')


# Remove rows with missing or NaN values in relevant columns
df = df.dropna(subset=['Discount', 'Quantity'])

# Group by discount and sum items sold

df = df[df['Discount'] != 0]
sales_by_discount = df.groupby('Discount')['Quantity'].sum()

# Find the discount with the maximum sales
best_discount = sales_by_discount.idxmax()
max_items_sold = sales_by_discount.max()

if not sales_by_discount.empty:
    print(f"The discount percentage that yields the most items sold is: {best_discount:.2f}%")
    print(f"Total items sold at this discount: {max_items_sold}")
else:
    print("No valid sales data found to perform analysis.")

The discount percentage that yields the most items sold is: 0.20%
Total items sold at this discount: 13660

In [38]:
null_counts = df.isnull().sum()
print(null_counts)

total_null_count = df.isnull().sum().sum()
print(total_null_count)

Category             0
City                 0
Country              0
Customer_Name        0
Manufacturer         0
Order_Date           0
Order_ID             0
Postal_Code          0
Product_Name         0
Region               0
Segment              0
Ship_Date            0
Ship_Mode            0
State                0
Sub-Category         0
Discount             0
Number_of_Records    0
Profit               0
Profit_Ratio         0
Quantity             0
Sales                0
dtype: int64
0

In [ ]:
import pandas as pd

def clean_data(df):
    # Top 5 products with highest profit
    df['Profit'] = df['Profit'].replace('[\$,]', '', regex=True).astype(float)  
    # Convert Profit to numeric
    top_products = df.groupby('Product Name')['Profit'].sum().nlargest(5).reset_index()
    df = pd.DataFrame(top_products, columns=['Product Name', 'Profit']).rename(columns={'Profit': 'Answer'})
    return df

df = pd.read_excel(r'rawdata/supermarket.xlsx')

df_clean = clean_data(df.copy())
df_clean.head()

<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
C:\Users\charl\AppData\Local\Temp\ipykernel_16528\2971822901.py:5: SyntaxWarning: invalid escape sequence '\$'
  df['Profit'] = df['Profit'].replace('[\$,]', '', regex=True).astype(float)  # Convert Profit to numeric

                                        Product Name   Answer
0              Canon imageCLASS 2200 Advanced Copier  25200.0
1  Fellowes PB500 Electric Punch Plastic Comb Bin...   7751.0
2               Hewlett Packard LaserJet 3310 Copier   6984.0
3                 Canon PC1060 Personal Laser Copier   4571.0
4  HP Designjet T520 Inkjet Large Format Printer ...   4095.0

In [10]:
import pandas as pd

df = pd.read_excel(r'rawdata/supermarket.xlsx')

# Assuming your DataFrame is called 'df' and the date column is 'order_date'
# Ensure the date column is in datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'])

# Extract month and year
df['month'] = df['Order Date'].dt.month
df['year'] = df['Order Date'].dt.year

# Print the modified DataFrame
print(df)

             Category           City        Country      Customer Name  \
0     Office Supplies        Houston  United States      Darren Powers
1     Office Supplies     Naperville  United States      Phillina Ober
2     Office Supplies     Naperville  United States      Phillina Ober
3     Office Supplies     Naperville  United States      Phillina Ober
4     Office Supplies   Philadelphia  United States         Mick Brown
...               ...            ...            ...                ...
9989       Technology  New York City  United States  Patrick O'Donnell
9990  Office Supplies  New York City  United States  Patrick O'Donnell
9991  Office Supplies      Fairfield  United States         Erica Bern
9992  Office Supplies      Fairfield  United States         Erica Bern
9993  Office Supplies       Loveland  United States      Jill Matthias

      Manufacturer Order Date        Order ID  Postal Code  \
0     Message Book 2013-01-03  CA-2011-103800        77095
1            Avery 2013-01-04  CA-2011-112326        60540
2            SAFCO 2013-01-04  CA-2011-112326        60540
3              GBC 2013-01-04  CA-2011-112326        60540
4            Avery 2013-01-05  CA-2011-141817        19143
...            ...        ...             ...          ...
9989         Other 2016-12-30  CA-2014-143259        10009
9990  Wilson Jones 2016-12-30  CA-2014-143259        10009
9991      Cardinal 2016-12-30  CA-2014-115427        94533
9992           GBC 2016-12-30  CA-2014-115427        94533
9993         Other 2016-12-30  CA-2014-156720        80538

                                           Product Name   Region  ...  \
0     Message Book, Wirebound, Four 5 1/2" X 4" Form...  Central  ...
1                                             Avery 508  Central  ...
2                         SAFCO Boltless Steel Shelving  Central  ...
3            GBC Standard Plastic Binding Systems Combs  Central  ...
4     Avery Hi-Liter EverBold Pen Style Fluorescent ...     East  ...
...                                                 ...      ...  ...
9989                          Gear Head AU3700S Headset     East  ...
9990               Wilson Jones Legal Size Ring Binders     East  ...
9991    Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl     West  ...
9992                                 GBC Binding covers     West  ...
9993                                Bagged Rubber Bands     West  ...

             State Sub-Category Discount Number of Records Profit  \
0            Texas        Paper      0.2                 1     $6
1         Illinois       Labels      0.2                 1     $4
2         Illinois      Storage      0.2                 1   -$65
3         Illinois      Binders      0.8                 1    -$5
4     Pennsylvania          Art      0.2                 1     $5
...            ...          ...      ...               ...    ...
9989      New York       Phones      0.0                 1     $3
9990      New York      Binders      0.2                 1    $20
9991    California      Binders      0.2                 1     $5
9992    California      Binders      0.2                 1     $6
9993      Colorado    Fasteners      0.2                 1    -$1

      Profit Ratio  Quantity Sales  month  year
0             0.34         2   $16      1  2013
1             0.36         3   $12      1  2013
2            -0.24         3  $273      1  2013
3            -1.55         2    $4      1  2013
4             0.25         3   $20      1  2013
...            ...       ...   ...    ...   ...
9989          0.03         7   $91     12  2016
9990          0.38         3   $53     12  2016
9991          0.33         2   $14     12  2016
9992          0.31         2   $21     12  2016
9993         -0.20         3    $3     12  2016

[9994 rows x 23 columns]